.WI,.WGL,.WS,.WR,.WRe,.WE,.WEn,.WL,.WAR,.WC,.WAE{

  display:inline-block;
  font-size: 30px;
  font-family: 'Berkshire Swash', cursive;
  border: solid 2px;
  border-width: medium;
  margin-top: 10px;
  margin-bottom: 20px;
  border-bottom-right-radius: 170px;
  border-top-right-radius: 170px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 110px;
  background-color: #f24444;
  border-color: #f24444;
  color:#020614;
  padding-left: 30px;
}
.WS{
  background-color:#d160eb;
  border-color: #d160eb;
  color:#020614;
  padding-right: 130px;
}
.WR{
  background-color:#f24444;
  border-color: #f24444;
  color:#020614;
  padding-right: 160px;
}
.WRe{
  background-color:#d160eb;
  border-color: #d160eb;
  color:#020614;
  padding-right: 140px;
}
.WE{
  background-color:#f24444;
  border-color: #f24444;
  color:#020614;
padding-right: 140px;
}
.WEn{
  background-color:#d160eb;
  border-color:#d160eb;
  color:#020614;
  padding-right: 130px;
}
.WL{
  background-color:#f24444;
  border-color: #f24444;
  color:#020614;
  padding-right: 175px;
}
.WGL{
  background-color:#d160eb;
  border-color:#d160eb;
  color:#020614;
  padding-right: 120px;
}
.WAR{
  background-color:#f24444;
  border-color:#f24444;
  color:#020614;
  padding-right: 130px;
}
.WC{
  background-color:#d160eb;
  border-color: #d160eb;
  color:#020614;
  padding-right: 130px;
}
.WAE{
  background-color:#f24444;
  border-color: #f24444;
  color:#020614;
  padding-right: 40px;
}

.para{

  border: 1px double;
  border-style: ridge;
  border-color: #b3bef2;
}
.WIC,.WSC,.WRC,.WRec,.WEC,.WEnC,.WLC,.WGLC,.WARC,.WCC,.WAEC{
  display:flex;
  padding-top: 2px;
  font-size: 25px;
  font-family: 'Coda', cursive;
  color:#020614;
  margin-left: 30px;
  padding-bottom: 20px;
}

.WI:hover
{
  background-color:#bf0b0b;
  color:white;
  border-color: #bf0b0b;
}
.WS:hover{
  background-color:#7e1496;
  color:white;
  border-color: #7e1496;
}
.WR:hover{
  background-color:#bf0b0b;
  color:white;
  border-color: #bf0b0b;
}
.WRe:hover{
  background-color:#7e1496;
  color:white;
  border-color: #7e1496;
}
.WE:hover{
  background-color:#bf0b0b;
  color:white;
  border-color:#bf0b0b ;
}
.WEn:hover{
  background-color:#7e1496;
  color:white;
  border-color: #7e1496;
}
.WL:hover{
  background-color:#bf0b0b;
  color:white;
  border-color: #bf0b0b;
}
.WGL:hover{
  background-color:#7e1496;
  color:white;
  border-color: #7e1496;
}
.WAR:hover{
  background-color:#bf0b0b;
  color:white;
  border-color: #bf0b0b;
}
.WC:hover{
  background-color:#7e1496;
  color:white;
  border-color:#7e1496;
}
.WAE:hover{
  background-color:#bf0b0b;
  color:white;
  border-color:#bf0b0b;
}
.chat{
  font-weight: bold;
}
.headi{
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 70px;
  font-weight: lighter;
  text-align:left;
  background-color: #61b083;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  font-family: 'Graduate', cursive;
  color: #030014;
  border-style: outset;
  border-color: #59d97b;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
}

.FBK{
  width:100%;
  height: 100px;
  background-repeat: no-repeat;
  border: 3px;
  border-style: outset;
  border-color: #b1b9e0;
  background-color: #b1b9e0;
  color: black;
  font-weight: bold;
  font-size: 200%;
  overflow: hidden;
  margin-left: 20px;
}

.FBD{
  position: relative;
}
.FBD textarea {
  width: 100%;
  box-sizing: border-box;
}
.FBD button {
  position: absolute;
  bottom:  1;
  left: 1;
  margin-left: 20px;
  margin-bottom: 4px;
}
.FBS{
  border-radius: 5px;
  background-color:#588c5f;
  color: white;
  font-family: 'Graduate', cursive;
  padding: 4px 4px 4px 4px;
  border-color:  #588c5f;
  cursor: pointer;
}

.mar{
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #030014;
    font-family: 'Sriracha', cursive;
}
