
*{margin:0;padding:0}
body
{
	background-color:#cdd4f7;
}
.hd{

	text-align:left;
	background:#222;
	display:block;
	position:relative;
	width:100% !important;
	z-index:6000;
	padding:40px 0 40px;
}
.al{

	font-family:"lucida grande";
	font-size:25px;
	font-style:italic;
	float:left;
	color:white;
	display: inline-block;
	width: 302px;
	padding: 0 !important;
	margin: 0 !important;
	background-color: transparent !important;
}
.ar{

	font-family:"lucida-handwriting";
	font-size:25px;
	font-style:italic;
	float:right;
	color:white;
	display: inline-block;
	width: 400px;
	padding: 0 !important;
	margin: 0 !important;
	margin-right:40 !important;
	background-color: transparent !important;
}
h1{
	background-color:#281745;
	margin-left: auto;
	margin-right: auto;
	color:#ebecf5;
	text-align:center;
	display:block;
	padding-top: 30px;
	padding-bottom: 20px;
	margin-bottom: 40px;
	border-color: #737591;
	text-shadow: #737591;
	border-bottom-left-radius: 500px;
	border-bottom-right-radius: 500pX;font-family: 'Signika', sans-serif;
	font-size: 50px;
	box-shadow: 10px 5px 5px #4d1054;
}
.lis{
	margin: 0;
	text-align: left;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 5px;
	overflow: hidden;
	background-color: #353738;
	border-style:outset;
	margin-bottom: 30px;
}

li{
		display: inline;
		margin: 0;
	  list-style-type: none;
	  overflow: hidden;
		font-size: 30px;
		padding: 10px ;

}
li a{
	text-decoration: none;
	color: #f0f5f7;
	padding: 5px;

}
li:hover{
	background: #1d1e1f;
	padding-top: 15px;
	padding-bottom: 15px;

}


.logo {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: auto;
		height:40%;
		border-style:groove;
		border-color:#1b0061;
		border-radius:10px;
		}

#found {
	background-color:#82d9cf;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	color:#1b0061;
	border:solid;
	border-radius:10px;
	font-family:sans-serif,"Helvetica Neue";
}

.tab{
		margin-top:20px;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;
		font-size: 25px;

}
td{
		margin-top:20px;
		margin-left: auto;
		margin-right: auto;
		font-size: 20px;
		padding: 10px;
	}
th{
		background-color: #18a7db
}

tr{
	margin-left: 5px;
	font-weight: bold;
}

tr:hover{
	background-color : #e1e8eb;
}
.image{

	background:url(https://cdn.pixabay.com/photo/2017/02/01/22/02/mountain-landscape-2031539_1280.jpg)

}
span{
		color: #c94e24;


}
.arm{
display: block;
width: 380px;
height: 38px;
border-radius: 0;
bottom: auto;
margin: 0;
background: url(https://raw.githubusercontent.com/Ksubrahmanya/Ksubrahmanya.github.io/master/images/Picture1.png) no-repeat;
background-size: 100%;
overflow: hidden;
text-indent: -9999px;

}
.arp{
	display: block;
width: 420px;
height: 38px;
border-radius: 0;
bottom: auto;
margin: 0;

	background: url(https://raw.githubusercontent.com/Ksubrahmanya/Ksubrahmanya.github.io/master/images/Picture2.png) no-repeat;
    background-size: auto;
background-size: 100%;
padding-right:32px;
overflow: hidden;
text-indent: -9999px;
}
.sub{
  margin: 0;
	text-align: left;
  position: relative;
  font-size:25px;
		color:#fff;
	  background-color:#01bd6f;
		border: 1px solid #01bd6f;
		border-radius: 4px;
	  padding:12px 5px;
		font-family: CircularXXWeb;
		margin-bottom: 50px;
}
.sub{
	cursor: pointer;
}

.sub:hover{
	background: #007a48;

}

.love{
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	    font-family: 'Satisfy', cursive;
	margin-top: 25px;
	text-align: center;
	margin-bottom: 25px;
}
.ks{
		background-color: #e6ccf0;
	font-weight: bold;
	     font-family: 'Satisfy', cursive;
	 border: 5px #e6ccf0 solid;
	 color: #261d29;
	 padding: 3px;
	 padding-right: 3px;
	 border-radius: 10px;
}
.heart{
	width: 26px;
	height: 23px;
}

.ks a{
	text-decoration: none;
	color: #261d29;
	padding: 3px;
	padding-right: 3px;
	border-radius: 10px;
}
.end{
	margin-top: 25px;
	float: left;
}
.bot{
	padding: 20px 20px 20px;
	margin: 0;
	position: relative;
	background-color:#222;
}
.ins,.gm,.yt,.fb{
	padding:20px;
}



img{
	height: 45px;
	width: 45px;
}
