.TOIB{
  margin: 0;
	text-align: left;
  position: relative;
  font-size:25px;
		color:#fff;
	  background-color:#01bd6f;
		border: 1px solid #01bd6f;
		border-radius: 4px;
	  padding:12px 5px;
		font-family: CircularXXWeb;
		margin-bottom: 50px;
}
.TOIB a{
  text-decoration: none;
}
.TOIB{
	cursor: pointer;
}

.TOIB:hover{
	background: #007a48;

}
